<footer class="mt-5 bg-light py-5 text-center">
    <p>Copyright MyTradingBook !</p>
    {% if app.user %}
        {% if "ROLE_ADMIN" in app.user.userRoles %}
            <a href="#">Administration</a>
        {% endif %}
    {% else %}
        
    {% endif %}
</footer>