{% extends "base.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <!-- SHOWCASE -->

    <section id="showcase" class="text-center mb-5">
        <div id="dark_overlay">
            <div id="contain" class="w-75 mx-auto text-light">   
                <h2 class="display-3 py-4 text-bold" id="title_showcase">My Trading Book</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga repudiandae quasi earum eaque
                    saepe voluptatum dolor quia eos quod ad dignissimos rerum tempora, ipsum iure harum tempore
                    et perspiciatis animi.
                </p>
            </div>
        </div>
    </section>
{% endblock %}